<%= form({action: sendCrendentialsPath(), method: "POST"}) { %>
    <%= if (hola == "Hola") { %>
    <% } %>

    <% let user = hola + "soy user" %>
    <h2> <%= user %> </h2> 

    <h2 class="card-header text-center"><img src="https://aulavirtual.itsa.edu.co/pluginfile.php/1/core_admin/logo/0x200/1675367088/logo_IUB.png" class="img-fluid" title="Aula Virtual Unibarranquilla" alt="Aula Virtual Unibarranquilla"></h2>
    <h1>Inicia Sesion</h1>
    <div class="contenedor">
        <div class="input-contenedor">
            <i class="bi bi-file-person-fill"></i>
            <input type="text" placeholder="Usuario">
        </div>

        <div class="input-contenedor">
            <i class="bi bi-key-fill"></i>
            <input type="password" placeholder="Contraseña">
        </div>
        <input type="submit" name="UserName" value="Inicia Sesion" class="button">
        <p><a class="link" href="forgotpassword.html">¿Olvidó su nombre de usuario o contraseña?</a></p>
    </div>
<% } %>
